.idea/
.settings/
*.iml
target/
.settings
.project
.classpath
.tern-project
*.tmp.*
/debug.log
.factorypath
MANIFEST.MF
package-lock.json
node_modules/
.vscode
yarn.lock
servers/frontend/src/main/webapp/source/bower_components
services/.factorypath
libs