language: java
python:
  - 3.6
before_install:
  - python --version
  - pip install -U pip --user
  - pip install -U pytest --user
  - pip install codecov --user
cache:
  directories:
    - $HOME/.m2
jdk:
  - oraclejdk11
script:
  - mvn clean test jacoco:report
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - codecov